@charset "utf-8";
@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


:root{
    --base:#191919;
    --white: #fff;
    --com:#7168DD
}

/*  */
.btn-menu{overflow:hidden;position:absolute;top:60px;left:30px;width:40px;height:30px;font-size:0;z-index:11}
.btn-menu:before, .btn-menu:after{display:block;content:'';transition:0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;}
.btn-menu:before, .btn-menu:after,.btn-menu span{position:absolute;left:0;width:100%;height:5px;background-color:var(--com)}
.btn-menu:before{top:0}
.btn-menu:after{top:12px}
.btn-menu span{top:24px}
.btn-menu span:before{content: "MENU"; position: absolute; top: 5px; right: 0; left: 0; color: #fff; font-size: 12px; font-weight: bold; text-align: center;}
.btn-menu.on:before,.btn-menu.on:after{left: -40px;}
.btn-menu.on span:before{animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;}

.nav{display: flex;align-items: center;flex-wrap:nowrap;flex-direction:row;justify-content:center;position:fixed;top:0;left:0;z-index:10;width:100%;height:100%;background-color:var(--base);color:var(--white);transform:translateZ(0) rotate(-90deg);transform-origin: bottom left;transition: all .3s ease-in-out;}
.nav.show{transform: matrix(1,0,0,1,0,0);}
.btn-clse span{display:block;font-size:0}
.btn-clse{position:absolute;bottom:60px;right:30px;width:50px;font-size:0}
.btn-clse span{display:block;height:50px;}
.btn-clse span:before,.btn-clse span:after{display:block;content:'';position:absolute;top:20px;width:50px;height:5px;background-color:var(--com);transition:top 300ms 350ms ease, transform 300ms 50ms ease;}
.btn-clse span:before{transform: rotate(45deg);}
.btn-clse span:after{transform: rotate(-45deg);}
.aside__innner{width:790px}
.aside__body{}
.menu__list{position:relative;z-index:1;}
.menu__item:not(:first-child){margin-top:40px}
.menu__link{display:inline-flex;align-items:flex-start;}
.menu__link .num{width:50px;font-size:24px;font-weight: 600; vertical-align: top;color:var(--white)}
.menu__link .txt{font-size:100px}
.menu__link:hover .fill__txt span:before{width:0}
.aside--object{position:absolute;top:50%;right:10%;width:360px;height:360px;background-color:var(--com);transform: rotate(-45deg);animation: move2 4s ease-in 0.5s infinite;}

#main{background-color:var(--com)}
.section{position:relative;height:100vh; background-color:var(--base);text-align:center;color:var(--white);transform:scale(1);transition: transform .3s ease}
.section.scroll{transform: scale(.9)}
.section__inner{display:inline-block;text-align:left}
.title--wrap{position:relative;font-size:60px;font-weight:600;line-height:1.3;z-index:1}
/* .title--wrap p{word-break: break-all;} */
/* .title--wrap .title{font-size:60px;font-weight:600;line-height:1.3;} */
/* .title--wrap .t2{display:block} */
.title--wrap .outline__txt{font-size:inherit;/*line-height:1*/}
.outline__txt:hover span:before{width:100%}
.title--wrap .text{padding-top:40px;font-size:16px;font-weight:400;line-height:1.7;color:var(--white);word-break:keep-all;}
.section--object{position:absolute;top:50%;right:10%;z-index:0;width:360px;height:360px;background-color:var(--com);transform: rotate(-45deg);animation: move2 4s ease-in 0.5s infinite;}
.fill__txt{display: inline-block; position: relative; z-index: 1; font-size:38px;line-height: normal;color: #fff ;opacity: 1;transition: opacity .3s ease-in-out;}
.fill__txt span{font-weight:600;color:#fff; -webkit-text-fill-color: transparent; -webkit-text-stroke-color: #fff;-webkit-text-stroke-width:1px; -webkit-text-stroke-color: #7494ff;}
.fill__txt span:before{overflow:hidden;display:block;content:'';width:100%;position:absolute;left:0;right:0;white-space:nowrap;
color: #7494ff; -webkit-text-fill-color: #7494ff; -webkit-text-stroke-color: transparent;
transition: all .5s ease-in-out; content: attr(data-hover);}
.outline__txt{display: inline-block; position: relative; z-index: 1; font-size:38px;line-height: normal;color: #fff ;opacity: 1;transition: opacity .3s ease-in-out;}
.outline__txt span{font-weight:600;color:#fff;
-webkit-text-fill-color: transparent; -webkit-text-stroke-color: #fff;-webkit-text-stroke-width:2px;}
.outline__txt span:before{overflow:hidden;display:block;content:'';width:0;position:absolute;left:0;right:0;white-space:nowrap;
color: var(--white); -webkit-text-fill-color: var(--white); -webkit-text-stroke-color: transparent;-webkit-text-stroke-width:0;
transition: all .5s ease-in-out; content: attr(data-hover);}
.section1 .title--wrap .text{transition-delay:3s}
.section2 .title--wrap .text{font-size:24px}
.section2 .title--wrap .title{font-size:200px}
.btn-view{display:block;width:80px;height:18px;margin:0;margin-left:auto;background:url(../../images/arr.png);background-size:cover;font-size:0;transition: all .3s;}
.btn-view:hover{background: url(../../images/arr-on.png)}
.section3 .menu__list{display:flex;margin-top:50px}
.section3 .menu__list li:not(:first-child){margin-left:30px}
.contact--info{display:flex;justify-content:center;position:relative;margin-top:100px}
.contact--info a{display:block;}
.contact--info a:not(:first-child){margin-left:30px}

/* work */
.sub-container{min-height:100vh;padding: 100px 0;background-color: var(--base);color:var(--white)}
.work--section{width:1300px;margin:0 auto}
/* .tab--wrap{display:flex;margin-top:30px}
.tab__link{margin-left:10px;padding:8px 20px 5px;border-radius:50px;background-color: #fff;color:var(--com);line-height:1}
.tab__link:first-child{margin-left:0}
.tab__link.on{background-color:var(--com);color:var(--white)}
.tab__item{display:none}
.tab__item.on{display:block} */
.work--section .title--wrap .t1{font-size:120px;color:var(--com)}
.work__lists{display:flex;flex-wrap:wrap;justify-content:space-between;padding:50px 0 0}
.work__item{width:45%;margin-top:20px;font-family: 'Noto Sans KR';}
.work__item:nth-child(-n+2){margin-top:0}
.work__link{display:block;position:relative;padding:20px 0;border-bottom:1px solid rgba(225,225,225,.5)}
.work__cate{display:flex;align-items:baseline;font-family: 'Josefin Sans';text-transform: uppercase;}
.work__cate .label{display:inline-block;margin-left:5px;padding:0 5px;border-radius:10px;background-color:rgba(255, 255, 255, 1);font-family: 'Noto Sans KR';font-size:12px;font-weight:500;color:var(--com)}
.work__text{display:inline-block;position:relative}
.work__tit{display:block}
.work__tit.outline__txt span{-webkit-text-stroke-width:1px}
.work__txt{padding-top:15px;font-size:12px}
.work__arr{position:absolute;bottom:20px;right:0;width:80px;height:18px;background:url(../../images/arr.png);background-size:cover;font-size:0;transition: all .3s;}
.work__link:hover .work__arr{background: url(../../images/arr-on.png)}
/* .work__obj{overflow:hidden;display:none;position:absolute;top:50%;left:100%;width:180px;height:180px;margin-left:50px;transform:translateY(-50%) rotate(-45deg);}
.work__obj::before{display:block;content: '';position:absolute;top:0;left:0;width:100%;height:100%;-webkit-animation: opacity 1s; animation: opacity 1s;}
.work__obj::after{position: absolute;top: 0;left: -75%;z-index: 99;display: block;content: '';width: 50%;height: 100%;background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);-webkit-transform: skewX(-25deg) rotate(0) ;transform: skewX(-25deg) rotate(0);
} 
.work__link:hover .work__obj .img{display:block}*/
.work__obj .img{display:none}
.work__link:hover .work__obj::after{-webkit-animation: shine .2s;animation: shine .2s;}
.work__link:hover .work__obj{display:block;}
/* .work__obj{overflow:hidden;display:block;position:absolute;top:50%;left:100%;width:180px;height:180px;margin-left:50px;transform:translateY(-50%) rotate(45deg);}
.work__obj .obj {display: block;position: relative;width:100%;height:100%;background-color: #7494ff;}
.work__obj:hover .obj::before {-webkit-animation: shine .75s;animation: shine .75s;}
.work__obj .obj::before {position: absolute;top: 0;left: -75%;z-index: 2;display: block;content: '';width: 50%;height: 100%;background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);-webkit-transform: skewX(-25deg) rotate(0) ;transform: skewX(-25deg) rotate(0);
}
.work__obj .img{display:none;position:absolute;top:50%;left:50%;width:100%;height:100%;transform:rotate(-45deg) translate(-50%, -50%);}
.work__obj:hover .img{display:block;} */

@media screen and (max-width: 1300px) {
    .work--section{width:100%;padding:0 2rem}
}
@media screen and (max-width: 1200px) {
    .section__inner{width:100%;padding:0 2rem}
    .section2 .section__inner{display:flex;justify-content:center;}
    .section2 .title--wrap{display:inline-block}
    .section2 .title--wrap .title{font-size:15vw}

    .section--object{}
    .work--section{width:100%;padding:0 2rem}
    .work--section .title--wrap .t1{font-size:2.857rem}
}
@media screen and (max-width: 768px) {
    .btn-menu{top:30px}
    .btn-clse{top:30px;bottom:auto}
    .aside__innner{width:100%;}
    .menu__link .num{width:1.429rem;font-size:0.857rem}
    .menu__link .txt{font-size:1.714rem}
    .aside--object{width:12.857rem;height:12.857rem}
    .title--wrap{font-size:1.714rem;text-align:center;}
    .title--wrap .text{font-size:0.8rem}
    .contact--info{margin-top:2.143rem}
    .title--wrap .outline__txt{padding-top:0.714rem}
    .section--object{width:12.857rem;height:12.857rem}
    .section2 .title--wrap .text{text-align:left}
    .work--section .title--wrap .t1{font-size:1.714rem}
    .work__item{width:100%}
    .work__item:nth-child(2){margin-top:20px}
    .work__cate{font-size:0.857rem}
    .work__cate .label{font-size:0.714rem}
    .work__tit{font-size: 1.429rem}
    .work__txt{font-size:0.714rem}
    .work__arr{width:50px;background-position:100% 50%;background-size:100% auto;background-repeat:no-repeat}
    .work__link:hover .work__arr{background-position:100% 50%;background-size:100% auto;background-repeat:no-repeat}
}
@media screen and (max-width: 375px) {}

/*motion*/
.slide-in{opacity: 0;transition: all .5s;transform: translateY(30%);}
.slide-in.active{opacity: 1;transform: translateY(0%) scale(1);}
.n-motion { opacity: 0; transition-property: all; transition-duration: 0.6s; } 
.n-delay1 { transition-delay: 0.1s; } 
.n-delay2 { transition-delay: 0.2s; } 
.n-delay3 { transition-delay: 0.3s; } 
.n-delay4 { transition-delay: 0.4s; } 
.n-delay5 { transition-delay: 0.5s; } 
.n-delay6 { transition-delay: 0.6s; } 
.n-delay7 { transition-delay: 0.7s; } 
.n-delay8 { transition-delay: 0.8s; } 
.n-delay9 { transition-delay: 0.9s; } 
.n-motion.n-left { transform: translateX(-50px); } 
.n-motion.n-right { transform: translateX(50px); } 
.n-motion.n-top { transform: translateY(-50px); } 
.n-motion.n-bottom { transform: translateY(100px); } 
.n-motion.n-spin { transform: rotate(180deg); } 
.n-motion.n-active { opacity: 1; } 
.n-motion.n-left.n-active { transform: translateX(0); } 
.n-motion.n-right.n-active { transform: translateX(0); } 
.n-motion.n-top.n-active { transform: translateY(0); } 
.n-motion.n-bottom.n-active { transform: translateY(0); } 
.n-motion.n-spin.n-active { transform: rotate(0deg); } 
.is-motion{opacity:0;transform: translate3d(0px, 70px, 0px);transition:opacity 1.45s, transform 0.95s cubic-bezier(0.250, 0.460, 0.450, 0.940)}
.is-motion.is-active{transform: translate3d(0px, 0px, 0px);opacity:1}


@keyframes moveUpThenDown {
    0% {
        top: 0;
    }

    50% {
        top: -27px;
    }

    100% {
        top: -14px;
    }
}

@keyframes shakeWhileMovingUp {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(10deg);
    }

    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakeWhileMovingDown {
    0% {
        transform: rotateZ(0);
    }

    80% {
        transform: rotateZ(3deg);
    }

    90% {
        transform: rotateZ(-3deg);
    }

    100% {
        transform: rotateZ(0);
    }
}

@keyframes bg-scrolling-reverse {
    to {
        background-position: 120px 120px
    }
}
@keyframes upSd {
    0% {opacity: 0; transform: translateY(100px);}
    100% { opacity: 1; transform: translateY(0);}
}
@keyframes move {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(190px) rotate(20deg);
    }

    70% {
        transform: translateY(100px) rotate(-80deg);
    }

    100% {
        transform: translateY(190px);
    }
}
@keyframes move2 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-8px) rotate(20deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes opacity {
    0%{
        opacity:1;background-color:#7494ff
    }
    50%{
        opacity:.5;background-color: #7494ff
    }
    100% {
        opacity: 0;
    }
}