@charset "utf-8";
@import "reset.css";
/* @import "font.css"; */


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');



:root{
    --base:#191919;
    --white: #fff;
    --com:#7168DD
}

/*  */
.btn-menu{overflow:hidden;position:absolute;top:60px;left:30px;width:40px;height:30px;font-size:0;z-index:11}
.btn-menu:before, .btn-menu:after{display:block;content:'';transition:0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;}
.btn-menu:before, .btn-menu:after,.btn-menu span{position:absolute;left:0;width:100%;height:5px;background-color:var(--com)}
.btn-menu:before{top:0}
.btn-menu:after{top:12px}
.btn-menu span{top:24px}
.btn-menu span:before{content: "MENU"; position: absolute; top: 5px; right: 0; left: 0; color: #fff; font-size: 12px; font-weight: bold; text-align: center;}
.btn-menu.on:before,.btn-menu.on:after{left: -39px;}
.btn-menu.on span:before{animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;}

.nav{display: flex;align-items: center;flex-wrap:nowrap;flex-direction:row;justify-content:center;position:fixed;top:0;left:0;z-index:10;width:100%;height:100%;background-color:var(--base);color:var(--white);transform:translateZ(0) rotate(-90deg);transform-origin: bottom left;transition: all .3s ease-in-out;}
.nav.show{transform: matrix(1,0,0,1,0,0);}

.btn-clse span{display:block;font-size:0}
.btn-clse{position:absolute;bottom:60px;right:30px;width:50px;font-size:0}
.btn-clse span{display:block;height:50px;}
.btn-clse span:before,.btn-clse span:after{display:block;content:'';position:absolute;top:20px;width:50px;height:5px;background-color:var(--com);transition:top 300ms 350ms ease, transform 300ms 50ms ease;}
.btn-clse span:before{transform: rotate(45deg);}
.btn-clse span:after{transform: rotate(-45deg);}

.aside__innner{width:790px}
.aside__body{}
.aside__body .menu__item:not(:first-child){margin-top:40px}
.menu__link{display:inline-flex;align-items:flex-start;}
.menu__link .num{width:50px;font-size:24px;font-weight: 600; vertical-align: top;color: #fff;}
.menu__link .txt{font-size:100px}
.menu__link:hover .fill__txt span:before{width:0}
.aside--object{position:absolute;top:50%;right:10%;width:360px;height:360px;background-color:var(--com);transform: rotate(-45deg);}


#main{background-color: #7494ff;}
.section{position:relative;height:100vh; background-color:var(--base);color:var(--white);transform:scale(1);transition: transform .3s ease}
.section.scroll{transform: scale(.9)}
.section__inner{width:1200px;margin:0 auto}
.title--wrap{position:relative;z-index:1}
.title--wrap p{word-break: break-all;}
.title--wrap .title{font-size:60px;font-weight:600;line-height:1.3;}
.title--wrap .outline__txt{font-size:inherit;line-height:1}
.title--wrap .outline__txt:hover span:before{width:100%}
.title--wrap .text{padding-top:40px;font-size:16px;line-height:1.7;word-break:keep-all;}
.section--object{position:absolute;top:50%;right:10%;z-index:0;width:360px;height:360px;background-color:var(--com);transform: rotate(-45deg);}

.fill__txt{display: inline-block; position: relative; z-index: 1; font-size:38px;line-height: normal;color: #fff ;opacity: 1;transition: opacity .3s ease-in-out;}
.fill__txt span{font-weight:600;color:#fff; -webkit-text-fill-color: transparent; -webkit-text-stroke-color: #fff;-webkit-text-stroke-width:1px; -webkit-text-stroke-color: #7494ff;}
.fill__txt span:before{overflow:hidden;display:block;content:'';width:100%;position:absolute;left:0;right:0;white-space:nowrap;
color: #7494ff; -webkit-text-fill-color: #7494ff; -webkit-text-stroke-color: transparent;
transition: all .5s ease-in-out; content: attr(data-hover);}

.outline__txt{display: inline-block; position: relative; z-index: 1; font-size:38px;line-height: normal;color: #fff ;opacity: 1;transition: opacity .3s ease-in-out;}
.outline__txt span{font-weight:600;color:#fff;
-webkit-text-fill-color: transparent; -webkit-text-stroke-color: #fff;-webkit-text-stroke-width:2px;}
.outline__txt span:before{overflow:hidden;display:block;content:'';width:0;position:absolute;left:0;right:0;white-space:nowrap;
color: var(--white); -webkit-text-fill-color: var(--white); -webkit-text-stroke-color: transparent;-webkit-text-stroke-width:0;
transition: all .5s ease-in-out; content: attr(data-hover);}

.section2 .title--wrap{display:inline-block}
.section2 .title--wrap .text{font-size:24px}
.section2 .title--wrap .title{font-size:200px}

.sect__flex{display:flex;justify-content: space-between;}
.sect__flex .menu__list{display:flex;margin-top:100px}
.sect__flex .menu__list li{}
.contact--info{}
.contact--info a{display:block;}

@media screen and (max-width: 1200px) {
    .section__inner{width:100%;padding:0 2rem}
}


@keyframes moveUpThenDown {
    0% {
        top: 0;
    }

    50% {
        top: -27px;
    }

    100% {
        top: -14px;
    }
}

@keyframes shakeWhileMovingUp {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(10deg);
    }

    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakeWhileMovingDown {
    0% {
        transform: rotateZ(0);
    }

    80% {
        transform: rotateZ(3deg);
    }

    90% {
        transform: rotateZ(-3deg);
    }

    100% {
        transform: rotateZ(0);
    }
}

@keyframes bg-scrolling-reverse {
    to {
        background-position: 120px 120px
    }
}
